[phases.setup]
nixPkgs = ['php83', 'php83Packages.composer']

[phases.install]
cmds = ['composer install --no-dev --optimize-autoloader']

[phases.build]
cmds = []

[start]
cmd = 'php -S 0.0.0.0:$PORT -t . index.php'
